body {
    
    background-color: rgb(255, 255, 255);
    flex: auto;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 17.2px;

}

#otsikko {
    margin: auto;
    height: 20%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    text-align: center;
    max-width: 100%;
    
}


#navi {
    background-image: url('./images/kivet.jpg'); 
    background-size: cover;
    opacity: 0.9;
    width: 100%;
    height: 500px;
    
      
}

#boksi {
    background-color: rgba(0, 0, 0, 0.301);
    font-size: 3rem;
    color: rgb(255, 255, 255);
    height: 60%;
    width: 60%;
    position: relative;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    text-align: center;
    padding-top: 50px;
    font-family: 'Dancing Script', cursive;
}

a {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none !important;
    font-size: 1.125rem;
    color:rgb(255, 255, 255)
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
    padding: 15px;
    height: 30%;
    width: 25%;
    opacity: 0.875;
    align-items: center;
    margin-top: 5%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(91, 94, 245, 0.733);
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

a:hover {
    color:rgb(255, 255, 255);
}

#toimisto {
    text-align: center;
    border-bottom: 2px solid black;
    
}

#kuva {
    width: 35%;
    height: 35%;
    position: relative;
    border-radius: 10%
}

#esittely {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#hinnasto {
    padding-top: 50px;
    text-align: center;
    font-weight: 700;
    margin: 5%;
    
}

#tietoja {
    margin: 5%;
    
}

#logo1 {
    height: 25%;
    width: 25%;
    padding-left: 10px;
}

#logo2 {
    
    height: 25%;
    width: 25%;
}

#logo3 {
    height: 12%;
    width: 12%;
    padding-left: 10px;
}

#logo4 {
    height: 25%;
    width: 25%;
    padding-left: 10px;
}

#logo5 {
    height: 15%;
    width: 15%;
    
}
footer {
    background-color: rgb(27, 27, 27);
    text-align: center;
    font-style: bold;

    color: white;
    padding-top: 20px;
    
}

a[href^=tel] { 
    color: inherit; 
    text-decoration: inherit;
    font-size: inherit; 

}

#tiedot {
    
    font-style: bold;
    
}

#fb-logo {

    height: 19%;
    width: 12%;
    margin: 3%;
}

@media only screen and (max-width: 400px) {
    #otsikko {
        font-size: 2.75rem;
    }
    body {
        font-size: 0.75rem;
    }

    #navi {
        height: 40%;
    }
    #boksi {
        font-size: 1.75rem;
    }
    button {
        height: 30%;
        width: 55%;
    }
    
    a {
        font-size: 0.5rem;
        
    }
}

